

.header {
    height: 125px;
    background-color: #2e3440;
    display: flex;
    justify-content: space-between;
}

.head-left {
    display: flex;
}

.title {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.logo {
    padding-left: 15px;
    padding-right: 20px;
    height: 120px;
    width: 120px;
}

.description {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: white;
    padding-right: 30px;
}

.footer {
    height: 120px;
    background-color: #2e3440;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.usage {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.github {
    position: absolute;
    right: 15px;
}

.details-1 {
    font-family: Arial, Helvetica, sans-serif;
}

.stats-main {
    display: flex;
    justify-content: space-around;
}

.details-1 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: center;
}

.det-text {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.name-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #eceff4;
    width: 210px;
    height: 39px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.bio-1 {
    width: 210px;
    height: 191px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 20px;
}

.awards-1 {
    width: 211px;
    height: 159px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 20px;
}

.stats-1 {
    background-color: white;
    width: 211px;
    height: 460px;
    border-radius: 7px;
}

.graph {
    width: 460px;
    height: 460px;
    background-color: #2e3440;
}

.stats-2 {
    background-color: white;
    width: 211px;
    height: 460px;
    border-radius: 7px;
}

.name-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #eceff4;
    width: 210px;
    height: 39px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.bio-2 {
    width: 210px;
    height: 191px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 20px;
}

.awards-2 {
    width: 211px;
    height: 159px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 20px;
}

.details-2 {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
}



