

.header {
    height: 120px;
    background-color: #2e3440;
    display: flex;
    justify-content: space-between;
}

.head-left {
    display: flex;
}

.title {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.logo {
    padding-left: 15px;
    padding-right: 20px;
    height: 120px;
    width: 120px;
}

.description {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: white;
    padding-right: 30px;
}

.footer {
    height: 110px;
    background-color: #2e3440;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.usage {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.github {
    position: absolute;
    right: 15px;
}

.linkedin-class {
    position: absolute;
    right: 75px;
}

.details-1 {
    font-family: Arial, Helvetica, sans-serif;
}

.stats-main {
    display: flex;
    justify-content: space-evenly;
}

.details-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.det-text {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.name-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #eceff4;
    width: 210px;
    height: 30px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.bio-1 {
    width: 210px;
    height: 180px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 20px;
}

.bio-1-list > li{
    text-align: center;
}

.awards-1 {
    width: 211px;
    height: 150px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 20px;
}

.stats-1, .stats-2 {
    background-color: white;
    width: 200px;
    height: 400px;
    border-radius: 7px;
}

.graph {
    width: 410px;
    height: 410px;
    background-color: #2e3440;
}

.name-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #eceff4;
    width: 210px;
    height: 30px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.bio-2 {
    width: 210px;
    height: 180px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 20px;
}

.awards-2 {
    width: 211px;
    height: 150px;
    border-radius: 7px;
    background: #5E81AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 20px;
}

.details-2 {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
}

.bio-1, .bio-2, .awards-1, .awards-2 {
    display: flex;
    justify-content: center;
}

.bio-1-list, .bio-2-list, .awards-2-list, .awards-1-list {
    font-family: Arial, Helvetica, sans-serif;
    color: #eceff4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bio-1-home, .bio-2-home {
    text-align: center;
}

.stats-1, .stats-2 {
    display: flex;
    justify-content: center;
}
.stats-1-list-pitching, .stats-2-list-pitching {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    > li {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 135px;
        height: 30px;
        background-color: #d9d9d9;
        border-radius: 8px;
    }
}

.stats-1-list-batting, .stats-2-list-batting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    > label {
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 135px;
        height: 30px;
        background-color: #d9d9d9;
        border-radius: 8px;
    }
}

.hidden {
    display: none;
}

.options {
    width: 1100px;
    height: 100px;
    border-radius: 11px;
    background: #5E81AC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-bars {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-1, .search-2 {
    width: 400px;
    height: 40px;
    border-radius: 15px;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#s-icon-1, #s-icon-2 {
    border: none;
    background-color: #FFF;
    cursor: pointer;
}

#s-text-1, #s-text-2 {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #484848;
}

.chart-div {
    width: 425px;
    height: 425px;
}

.radio {
    display: flex;
    overflow: hidden;
    border-radius: 11px;
    gap: 5px;
}

.radio-input {
    display: none;
}

.radio-label {
    width: 150px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 14px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.2s;
}

.radio-label:not(:last-of-type) {
    border-right: 1px solid #5E81AC;
}

.radio-input:checked + .radio-label {  
    background: #88C0D0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}


.results-1, .results-2 {
    background: #D8DEE9;
    color: #D8DEE9;
    height: 175px;
    overflow: scroll;
}
.results-list-1, .results-list-2 {
    color: #D8DEE9;
    background-color: #D8DEE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

::-webkit-scrollbar {
    color: #D8DEE9;
    background-color: #D8DEE9;
    width: 0.75em;
    border: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    color: #D8DEE9;
    background: #2e3440;
    border: none;
}

::-webkit-scrollbar-corner {
    color: #D8DEE9;
}


#toggle {
    width: 149px;
    height: 46px;
    background: #d9d9d9;
    cursor: pointer;
    appearance: none;
    border-radius: 23px;
    position: relative;
}

#toggle:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 40px;
    height: 40px;
    background: #88C0D0;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#toggle:checked:before {
    left: 106px;
}

.toggle-main {
    display: flex;
    align-items: center;
    gap: 5px;
}

.first, .pitching {
    font-family:Arial, Helvetica, sans-serif;
    color: #D8DEE9;
}

.list-item-1, .list-item-2 {
    border: none;
    border-radius: 8px;
}
